.body {
  margin: 2em;
  background-color: rgb(202, 195, 186);
}

.card > .card-header {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;

}

.container-fluid {
    float: left;
    display: block;
    color: white;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}

.nav a {
  padding-left: 2em;
}

#img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

